@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*{
  box-sizing: border-box;
}

body{
background-color: aliceblue;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;

}



header{
  background-image:url('2021.jpg');
  background-size: cover;
  background-position: center center;
  color:white;
  display: flex;
  align-items: flex-start;
  min-height: calc(100vh - 104px);
  flex-direction: column;
}

.container {
  padding: 1rem;
  margin: 0 auto;
  max-width: 100%;
  width: 1000px;
}


nav{
display: flex;
justify-content: space-between;
}
nav .logo {
  font-size: 2rem;
}
nav ul{
  display: flex;
  list-style-type: none;
  padding: 0;
}
nav il a{
  color:white;
  font-size:large;
  padding: 1rem;
  text-decoration: none;
}

.content{
  margin:  auto;
  font-size: 1rem;
  max-width: 100%;
  /* margin-left: 210px  ; */
}
.content h1{
  color:teal;
  margin-bottom:0 ;
}
.selected{
  font-weight: bold;
}
.highlight{
  background-color: teal;
  font-size:large;
  padding: 0.5rem;
  text-decoration: none;
}
.content p{
font-size:x-large;
color: tomato;
}

footer{
  background-color:darkslategray;
  color: aliceblue;
  padding: 0.92rem;
  
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  
}
footer strong {
  color: teal;
}
footer p{
  margin: 0;
}

/* responsive it */

@media screen and (max-width:600px ){
 .content{
   font-size: 1.4rem;
   margin: 2rem auto 0;
   padding: 1rem;
 }
  nav ul {
    flex-direction: column;
  }
  nav li:not(:last-child) {
    margin-bottom: 1rem ;
  }
  nav .highlight {
    display: none;
  }
  footer ul{
    flex-direction: column;
    justify-content:center;
  }
  footer il{
    margin: 1rem;
    text-align: center;
  }
  footer p{
    text-align: center;
    justify-content: center;
  }
  footer strong{
    text-align: center;
    justify-content: center;
  }
}
